@model IEnumerable<MyCoach.Models.TrainingIndexViewModel>

@if (Model.Count() > 0)
{

    foreach (var item in Model)
    {
        <div class="row">

            <div class="col-xs-3">
                <a href="@Url.Action("Details", "Trainings", new { id = item.ID })">
                    <img src="@item.GetSumbnailURL("mq")" class="img-rounded img-responsive" />
                </a>
            </div>
            <div class="col-xs-7">
                <div class="row">
                    <h4>@Html.ActionLink(item.Title, "Details", new { id = item.ID })</h4>
                    @Html.DisplayFor(modelItem => item.Purpose)<br />
                </div>
                <div class="row">
                    @foreach (var tag in item.Tags)
                    {
                        <input type="button" class="btn btn-primary btn-xs" value="@Html.DisplayFor(modelItem => tag)">
                    }
                </div>
                <div class="row">
                    <br />
                    @Html.DisplayFor(modelItem => item.UserName)
                    &nbsp;
                    <button type="button" class="btn btn-default btn-xs">
                        <i class="fa fa-heart-o">1</i>
                    </button>
                    &nbsp;

                    @Html.DisplayFor(modelItem => item.AddDateTime)
                </div>
            </div>
        </div>
        <hr />
    }
}