@model MyCoach.Models.TrainingDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Training</h4>
    <hr />


    @using (Html.BeginForm(
        "Add",
        "Favorites",
        null,
        FormMethod.Post,
        new { enctype = "multipart/form-data" }
        )
    )
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", style = "display: none;" } })
                @{
                    if (Model.IsFavorite)
                    {
                        <input type="button" value="お気に入りに追加" class="btn btn-primary" disabled />
                    }
                    else
                    {
                        <input type="button" value="お気に入りに追加" class="btn btn-primary" />
                    }
                }
            </div>
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @foreach (var tag in Model.Tags)
            {
                <input type="button" class="btn btn-primary btn-xs" value="@Html.DisplayFor(modelItem => tag)">
            }
        <dt>
            @Html.DisplayNameFor(model => model.AddDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YoutubeURL)
        </dt>

        <dd>
            @{
                if (Model.YoutubeURL != string.Empty)
                {

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="@Html.DisplayFor(model => model.YoutubeURL)"></iframe>
                    </div>
                }
            }
        </dd>

    </dl>
</div>