@model MyCoach.Models.TrainingSearchViewModel


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">トレーニングを絞り込む</h3>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("Search", "Trainings", FormMethod.Get, new { @class = "form-group" }))
                {
                    <div class="bg-success">
                        キーワード検索
                    </div>
                    @Html.TextBox("searchValue", "", new { @placeholder = "練習メニュー名など", @class = "form-control" })
                    <hr />
                    <div class="bg-success">
                        タグで検索
                    </div>
                    foreach (var tag in Model.ViewTagModels)
                    {
                    <div class="btn-group" data-toggle="buttons">
                        @{
                            string checkBoxChecked = "";
                            string checkBtnChecked = "";
                            if (tag.Checked) {
                                checkBoxChecked = "checked";
                                checkBtnChecked = "active";
                            }
                        }
                        
                        <label class="btn btn-success  btn-xs @checkBtnChecked">
                            <input type="checkbox" name="SearchTags" value="@tag.ID" @checkBoxChecked /> @tag.Name
                        </label>
                    </div>
                    <br />

                    }
                    <br />
                    <input type="submit" value="検索" class="btn btn-default" />
                }
            </div>

        </div>
    </div>

    <div class="col-xs-9">
        <div class="container">
            @foreach (var item in Model.ViewModels)
            {
                <div class="row">

                    @*<div class="row cell-train-txt">*@
                    <div class="col-xs-3">
                        <a href="@Url.Action("Details", "Trainings", new { id = item.ID } )">
                            <img src="@item.GetSumbnailURL("mq")" class="img-rounded img-responsive" />
                        </a>
                    </div>
                    <div class="col-xs-7">
                        <div class="row">
                            <h4>@Html.ActionLink(item.Title, "Details", new { id = item.ID })</h4>
                            @Html.DisplayFor(modelItem => item.Purpose)<br />
                        </div>
                        <div class="row">
                            @foreach (var tag in item.Tags)
                            {
                                <input type="button" class="btn btn-primary btn-xs" value="@Html.DisplayFor(modelItem => tag)">
                            }
                        </div>
                        <div class="row">
                            <br />
                            @Html.DisplayFor(modelItem => item.UserName)
                            &nbsp;
                            <button type="button" class="btn btn-default btn-xs">
                                <i class="fa fa-heart-o">1</i>
                            </button>
                            &nbsp;

                            @Html.DisplayFor(modelItem => item.AddDateTime)
                        </div>
                    </div>
                </div>
                <hr />
                @*<div class="col-xs-8 cell-train-txt" id="post_1038">
                        <h3 class="cell-title-txt">
                            <!-- 練習のタイトル -->
                            <a href="/posts/view/1038">
                                【素早い動きと反応速度を鍛える！】時計型アジリティトレーニング
                            </a>
                        </h3>
                        <div class="wrap-cell-merit-txt">
                            <p class="cell-merit-txt">
                                アジリティの向上<br />
                                反射神経を鍛える
                            </p>
                        </div>
                        <!-- マイトレviewアイコンなどその他情報 -->
                        <div class="bottom-info train-txt-info ">
                        </div>
                    </div>*@
            }
        </div>
    </div>
    @*<div class="col-md-10">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ViewModels[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ViewModels[0].Purpose)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ViewModels[0].Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ViewModels[0].AddDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ViewModels[0].UpdateDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ViewModels[0].Tags)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ViewModels[0].UserName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.ViewModels)
                {
                    <tr>
                        <td>

                            @Html.ActionLink(item.Title, "Details", new { id = item.ID })
                            <img src="@item.GetSumbnailURL()" />
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Purpose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateDateTime)
                        </td>
                        <td>
                            @foreach (var tag in item.Tags)
                            {
                                <input type="button" class="btn btn-primary btn-xs" value="@Html.DisplayFor(modelItem => tag)">
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                    </tr>
                }

            </table>
        </div>
    *@
</div>