@model MyCoach.Models.TrainingSearchViewModel


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">トレーニングを絞り込む</h3>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("Search", "Trainings", FormMethod.Get, new { @class = "form-group" }))
                {
                    <div class="bg-success">
                        キーワード検索
                    </div>
                    @Html.TextBox("searchValue", "", new { @placeholder = "練習メニュー名など", @class = "form-control" })
                    <hr />
                    <div class="bg-success">
                        タグで検索
                    </div>
                    foreach (var tag in Model.ViewTagModels)
                    {
                    <div class="btn-group" data-toggle="buttons">
                        @{
                            string checkBoxChecked = "";
                            string checkBtnChecked = "";
                            if (tag.Checked) {
                                checkBoxChecked = "checked";
                                checkBtnChecked = "active";
                            }
                        }
                        
                        <label class="btn btn-success  btn-xs @checkBtnChecked">
                            <input type="checkbox" name="SearchTags" value="@tag.ID" @checkBoxChecked /> @tag.Name
                        </label>
                    </div>
                    <br />

                    }
                    <br />
                    <input type="submit" value="検索" class="btn btn-default" />
                }
            </div>

        </div>
    </div>

    <div class="col-xs-9">
        <div class="container">

            @Html.Partial("_TrainingListPartial",Model.ViewModels)

        </div>
    </div>
</div>